ul,
ol {
	padding-left: 20px;
}

li {
	margin-bottom: 10px;
	padding-left: 20px;
}

li::marker {
	color: var(--brown);
	font-family: var(--font-family);
	font-size: var(--font-size-1);
	font-weight: var(--font-weight-6);
	margin-right: -10px;
}
