/*** Base Styles ***/

:root {
	--measure: 60ch;
	--outline: 1px solid;

	/* Colors */
	/* --rose-50: hsl(330deg, 100%, 98%);
		--rose-800: hsl(332, 51%, 32%);  // var(--pink-11)
	
		--stone-900: hsl(24deg, 5%, 18%);  // var(--gray-9)
		--stone-600: hsl(30deg, 10%, 34%);  // var(--stone-7)
		--stone-150: hsl(30deg, 18%, 87%);  // var(--yellow-0)
		--stone-100: hsl(30deg, 54%, 90%);  // var(--choco-0)
	
		--brown-800: hsl(14, 45%, 36%);  // var(--yellow-10) */
}

/* Use a more-intuitive box-sizing model. */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Remove default margin */
* {
	margin: 0;
	/* max-inline-size: var(--measure); */
}

/* Allow percentage-based heights in the application */
html {
	height: 100%;
}

/* Typographic tweaks */
body {
	height: 100%;
	color: var(--stone-10);
	background-color: var(--brown-0);

	line-height: 1.5; /* Add accessible line-height */
	-webkit-font-smoothing: antialiased; /* Improve text rendering */
}

/* Improve media defaults */
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

/* Remove built-in form typography styles */
input,
button,
textarea,
select {
	font: inherit;
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

/* Create a root stacking context */
#root,
#__next {
	isolation: isolate;
}

/* Make components like buttons and text fields easily clickable by finger i.e. coarse pointer */
@media (pointer: coarse) {
	html {
		--min-tap-height: 44px;
	}
}

/* Iconify web components are not rendered instantly and might cause layout shifts. This is to avoid layout shifts. */
iconify-icon {
	display: inline-block;
	width: 1em;
	height: 1em;
}
